.Headercss {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  z-index: 10;
}

.showHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  position: fixed;
  z-index: 10;
  width: 100%;
  animation: show 0.4s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.623);
}

@keyframes show {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.header_link {
  height: 40px;
  padding: 0 1rem;
  margin: 0 0.1rem;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.header_link:hover {
  background-color: var(--color-gray);
  border-radius: 0.3rem;
}

.activeLink {
  padding: 0.1rem 0.7rem;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid var(--color-red);
  color: var(--color-red);
  border-radius: 0.3rem;
  font-weight: bolder;
}

.uesrImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.accountDrop {
  position: absolute;
  top: 50%;
  background-color: var(--color-gray);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.accountDrop a:hover {
  transition: all 0.2s ease-in-out;
}
.accountDrop button:hover {
  transition: all 0.2s ease-in-out;
}
.accountDrop a:hover {
  background-color: gray;
}
.accountDrop button:hover {
  background-color: gray;
}

.accBtn {
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--color-gray);
}

.accBtn:hover {
  background-color: var(--color-black);
}

.logo_h1 span {
  font-family: "Lobster", cursive !important;
  font-size: 45px;
  color: var(--color-red);
  font-weight: bolder;
}

@media screen and (max-width: 1024px) {
  .headerMobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    color: black;
    height: 100vh;
    top: 0;
    left: 0;
    width: 0;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
  }

  .closeNavbar {
    width: 0;
    padding: 0;
  }

  .activeNavbar {
    width: 300px;
  }

  .activeNavbar .header_link {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  .activeNavbar .header_link:hover {
    background-color: rgba(128, 128, 128, 0.336);
  }

  .activeNavbar .activeLink {
    background-color: var(--color-red);
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0.5rem;
  }
}
