/*Item slider in Product */

.ItemSlider {
  border-radius: 0.3rem;
  position: relative;
  height: 100%;
}

.ItemSliderImg {
  object-fit: cover;
  aspect-ratio: 3 / 1;
  height: 100%;
  border-radius: 0.5rem !important;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.ItemInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  text-align: center;
  padding: 0 0.5rem;
  display: none;
  transition: all 0.3s ease-in-out;
}

.ItemSlider:hover .ItemSliderImg {
  opacity: 0.1;
}

.ItemSlider:hover .ItemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}

/* Watch List  */

.watchlistBox {
  width: 200px;
  height: max-content;
  position: relative;
}

.watchListstyle {
  width: 100%;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
  gap: 1rem;
}

.watchlistBox:hover .watchListstyle {
  opacity: 0.9;
  border: 1px solid white;
  border-radius: .3rem;
}
