@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --color-black: #242423;
  --color-red: #d62828;
  --color-gray: #414141;
}

body {
  background-color: #202020;
  color: white;
  font-family: "Heebo", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
