@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&family=Lobster&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3d3d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1rem;
}

:root {
  --color-black: #30302e;
  --color-red: #d62828;
  --color-gray: #4d4d4d;
}

body {
  background-color: #202020;
  color: white;
  font-family: "Heebo", sans-serif;
}

/* swiper button style  */
.swiper-button-next:after {
  font-size: 20px !important;
  background-color: #2020207e;
  height: 450px;
  padding: 0.3rem;
  margin-left: 1.7rem;
  display: flex;
  align-items: center;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  background-color: #2020207e;
  height: 450px;
  padding: 0.3rem;
  margin-left: -1.7rem;
  display: flex;
  align-items: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
